.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../photos/DiscoverPic.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
}

.header-sentence {
    color: #0e2d5c;
    font-size: 25px;
    margin-left: 6rem;
}

@media screen and (max-width: 767px) {
    .header-sentence {
        margin-left: 2rem;
    }
}