.mountain-content {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.info-weather-holder {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #e9e7e7;
}

.info-weather {
    padding: 2rem 1rem 2rem 1rem;
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mountain-information {
    background-color: #f7f5f5;
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.title-bucketlist {
    display: flex;
    justify-content: space-between;
}

#bucket-icon {
    top: 1.5rem;
    cursor: pointer;
}

#mountain-name {
    font-size: 1.6rem;
    color: #03214f;
}

#mountain-location {
    color: #626469;
    margin-top: -1.3rem;
}

.mountain-information img {
    align-self: center;
    max-width: 85%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.2);
}

.weather-content {
    margin-top: 30px;
    width: 80%;
    background-color: #f7f5f5;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.ratings-pass {
    display: flex;
    justify-content: space-between;
}

.ratings-pass img {
    border-radius: 0;
    width: 4rem;
    height: auto;
    box-shadow: 0 0 0 0;
    margin-bottom: 10px;
}

#pass-type {
    margin-top: -0.2rem;
}

.ratings {
    margin-top: -1rem;
    display: flex;
    justify-content: flex-start;
}

#rating-star {
    top: 0.7rem;
    right: 2rem;
    margin-right: -1.8rem;
}

#mountain-rating {
    color: #03214f;
}

.mountain-review-content {
    background-color: #f7f5f5;
    width: 55%;
    display: flex;
    justify-content: center;
}

.review-title {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #f7f5f5;
    color: #03214f;
    font-size: 25px;
    padding: 0rem 0rem 0.3rem 1rem;
}

.mountain-reviews {
    width: 100%;
    height: 105vh;
    overflow-y: scroll;
}

.review-button {
    background-color: #205097;
    color: #f7f5f5;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.6s;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.review-button:hover {
    background-color: #476ea9;
}

.closed {
    background-color: #626469;
    transition: none;
}

.closed:hover {
    background-color: #626469;
}

.review-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
}

.open {
    max-height: 500px;
}

.detail-footer {
    margin-top: 3rem;
}

@media screen and (max-width: 767px) {
    .mountain-content {
        margin-top: 3rem;
        flex-direction: column;
    }

    .info-weather-holder {
        width: 100%;
    }

    .info-weather {
        margin-top: 0px;
        padding: 0;
    }

    .mountain-review-content {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    
    .mountain-content {
        padding-top: 0rem;
    }

    .info-weather-holder {
        width: 100%;
    }

    .info-weather {
        margin-top: 0px;
        width: 100%;
    }

    .mountain-information {
        border-radius: 0;
        padding: 0.7rem;
        box-shadow: 0 20px 16px 0px rgba(0, 0, 0, 0.15);
    }

    .mountain-reviews {
        width: 100%;
        border-radius: 0;
    }
}